<mat-card>
  <mat-card-header>Employee List</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let employee of employees">
        <!-- Replace this image with the Gravatar image -->
        <img mat-list-avatar src="assets/person.png" alt="{{employee.firstName}} {{employee.lastName}}">
        <h3 mat-line>{{employee.id}} - {{employee.firstName}} {{employee.lastName}} [{{employee.email}}]</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
